<%- layout("./layouts/main") %>

<div class="row">
	<div class="col-lg-6 offset-lg-3">
		<div class="card mb-3">
		  <div class="card-body">
  			<ul class="list-group list-group-flush">
  				<li class="list-group-item bg-white text-dark"><b>Your details:</b></li>
		  		<li class="list-group-item bg-white text-dark"><strong>Name:</strong> <%= data.fullName %></li>
		  		<li class="list-group-item bg-white text-dark"><strong>Email:</strong> <%= data.email %></li>
		  		<li class="list-group-item bg-white text-dark"><strong>Phone:</strong> <%= data.phone %></li>
		   	</ul>
            <hr />
            <br />
		   	<h4>Edit Account</h4>
		   	<form class="" method="post" action="/profile?_method=PUT">
		    	<%- include("./partials/errors") %>
		    	<div class="form-group">
				  <label class="col-form-label" for="fullName">Full Name</label>
				  <input type="fullName" class="form-control" value="<%= data.fullName %>" id="fullName" name="fullName" />
				</div>
				<div class="form-group">
				  <label class="col-form-label" for="email">Email Address</label>
				  <input type="email" class="form-control" value="<%= data.email %>" id="email" name="email" />
				</div>
				<div class="form-group">
				  <label class="col-form-label" for="phone">Phone Number</label>
				  <input type="tel" class="form-control" value="<%= data.phone %>" id="phone" name="phone" />
				</div>
				<button type="submit" class="btn btn-primary">Update</button>
		    </form>
		  </div>
		</div>
	</div>
</div>